:host {
    ion-content {
        --background: opacity(0.2);
        h2{
            font-size: 2rem;

        }
    }
    .logo-container{
        height: 20vh;
    }
    ion-card{
        border-radius: 15px;
        background: transparent;
    }
}

.paz {
    position: relative;
    z-index: 10;
}
